@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    text-decoration: none !important;
  }
}

@layer components {
  .input {
    @apply outline-none p-2 md:p-4 rounded shadow-sm border-2 border-[#27980b93];
  }
  .linkImage {
    @apply lg:w-[55px] lg:h-[45px] w-[40px] h-[30px];
  }

  .links {
    @apply lg:flex items-center gap-16 2xl:gap-20;
  }

  .link {
    @apply flex flex-col items-center hover:scale-[1.03] gap-2 hover:text-[#28980b] text-[#f38600];
  }
  .link > p {
    @apply font-[12px] lg:font-semibold font-[Lora];
  }

  .heroContainer {
    @apply w-full h-[182px] md:h-[330px] lg:h-[430px] xl:h-[540px] 2xl:h-[590px] bg-white;
  }
  .heroImage {
    @apply w-full h-full;
  }

  .heroText {
    @apply px-32 md:px-56 lg:px-72 xl:px-[300px];
  }

  .heroTitle {
    @apply font-bold text-xl md:text-3xl lg:text-[30px] xl:text-[40px] 2xl:text-[60px] text-[#a234a3] mb-10 2xl:mb-16;
  }

  .links,
  .footerLink {
    display: none;
  }

  .corner {
    @apply shadow-md rounded px-6 py-4 border-r-[8px] border-[#28980b] h-full hover:scale-[1.01];
  }

  .title {
    @apply text-[38px] 2xl:text-[50px] mb-2 md:mb-4 lg:mb-6 font-bold font-[Lora] italic;
  }

  .subtitle {
    @apply font-[Lora] font-bold italic text-[24px] 2xl:text-[30px] mb-4;
  }

  @media (min-width: 1024px) {
    .links,
    .footerLink {
      display: flex;
    }
  }
}
